<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/atm.css" th:href="@{/css/atm.css}" />
</head>
<body>

<div class="rect_content">
    <div align="center"><h1>Welcome to our Bank, <span th:text="${session.client.name}"!>Name</span></h1></div>

    <p>
    Today is: <span th:text="${session.today}">13 February 2011</span>
    </p>

    <div align="center">
        <h2>Please, select an option</h2>
    </div>

    <div align="center">
    <form action="/get_service" method="get" th:each="srv: ${session.services}">
      <p th:insert="~{service::service(${srv})}"></p>
    </form>
    </div>

    <div th:insert="~{footer::copy}">&copy; 2011 The Static Templates</div>

</div>

</body>
</html>